*{
    padding: 0;
    margin: 0;
}
#btn{
    background-color: hsl(108, 68%, 22%);
    color: white;
    padding: 14px 20px;
    margin: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}
#btn:hover{
    background-color: hsl(108, 68%, 32%);   
}
.para::first-letter{
    font-size: 5em;
    color: hsl(108, 68%, 22%);

}